/*
  ###    ###     #            ###    ###     #             #    #   #   ###    ###     #   
 #   #  #   #    #           #   #  #   #    #            # #   #   #  #   #  #   #    #   
 #      #   #    #           #      #   #    #           #   #  #   #  #   #  #   #    #   
 #      #   #    #           #      #   #    #           #   #  # # #  #   #  #   #    #   
 #  ##  #   #    #           #  ##  #   #    #           #####  # # #  #   #  #   #    #   
 #   #  #   #                #   #  #   #                #   #  ## ##  #   #  #   #        
  ###    ###     #            ###    ###     #           #   #  #   #   ###    ###     # 
  
*/

/*------m-adm尺寸語法開始------*/
.m-adm { margin: auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; text-align: center; background-color: none;}
.m-admbox { flex: none; width: 300px; padding: 5px 0px; margin: 0px 2px; }
.m-adm a { text-decoration: none; }
.m-adm .m-admbox label { font-size: 12pt; font-family: 微軟正黑體; font-weight: 900; }
/*------m-adm尺寸語法結束------*/

/*------petadminupdate語法開始------*/
.content { background-color: none; justify-content: center; }
.petadminupdate table { background-color: none; margin: auto;}
.petadminupdate tr { text-align: center; }
.petadminupdate td { position: relative; }
.petadminupdate label.delete { position: absolute; bottom: -5px; right: 0px; font-size: 12pt;}
.petadminupdate input.delete { display: none; }
.petadminupdate input.delete + label.delete { display: inline-block; color: #ccc; background-color: #fff; border: #000 1px solid;
    cursor: pointer; padding: 3px 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.petadminupdate input.delete:checked + label.delete { background-color: #ccc; border: #000 1px solid; color: #000000;
    -webkit-border-radius: 10px; border-radius: 10px; }
.petadminupdate input.textbox,
.petadminupdate textarea { width: 300px; font-family: 微軟正黑體; font-size: 14pt; line-height: 40px; margin: 10px; padding: 5px 15px; border:1px gray solid;
    cursor:pointer; -webkit-border-radius: 15px; border-radius: 15px; outline:none; }
.petadminupdate textarea { height: 200px; }
.petadminupdate input.textbox:focus,
.petadminupdate textarea:focus { border: 2px #33CCFF solid;}
.petadminupdate input.textbox:focus::placeholder,
.petadminupdate textarea:focus::placeholder { color: #33CCFF; }
.petadminupdate textarea {resize : none; }
.petadminupdate input.sex[type="radio"]{ display: none; }
.petadminupdate span.sex,
.petadminupdate label { font-family: 微軟正黑體; font-size: 14pt; }
.petadminupdate span.sex { display: inline-block; width: 300px; color: gray; background-color: #FFFFFF; border: 1px gray solid;
    cursor: pointer; margin: 10px 10px; padding:3px 15px;  -webkit-border-radius: 15px; border-radius: 15px; }
.petadminupdate input.sex[type="radio"] + label { display: inline-block; color: gray; background-color: #FFFFFF; border: none;
    cursor: pointer; margin: 0px 5px; padding:10px 31px;  -webkit-border-radius: 15px; border-radius: 15px; }
.petadminupdate input.sex[type="radio"]:checked + label { background-color: #33CCFF; border: none; color: #000000;
    -webkit-border-radius: 15px; border-radius: 15px; }
.petadminupdate input.submit,
.petadminupdate input.reset { color: #FFFFFF; font-family: 微軟正黑體; font-size: 14pt; line-height: 40px; margin: 25px 10px; padding: 0px 15px;
        -webkit-border-radius: 15px; border-radius: 15px; outline:none; }
.petadminupdate input.submit { background-color: orange; border:1px orange solid; }
.petadminupdate input.reset { background-color: #3b5998; border:1px #3b5998 solid; }
.petadminupdate label.upload_cover { display: inline-block; position: relative; text-align: center; cursor: pointer; border: 1px solid #595656; margin: 10px; padding:5px 15px; line-height: 40px; border-radius: 15px; }
.petadminupdate input.filename { width: 100px; border: none; background-color: transparent; font-size: 10pt; text-align: center; }
.petadminupdate input.cancel { border: none; background-color: transparent; font-size: 14pt; cursor: pointer; outline:none; }
.petadminupdate input[type="file"] { display: none; }
.cover { background-color: #33CCFF; font-weight: 900; color: #000;}
/* .cover::before { content: "✔" } */
/*------petadminupdate語法結束------*/