/*
  ###    ###     #            ###    ###     #             #    #   #   ###    ###     #   
 #   #  #   #    #           #   #  #   #    #            # #   #   #  #   #  #   #    #   
 #      #   #    #           #      #   #    #           #   #  #   #  #   #  #   #    #   
 #      #   #    #           #      #   #    #           #   #  # # #  #   #  #   #    #   
 #  ##  #   #    #           #  ##  #   #    #           #####  # # #  #   #  #   #    #   
 #   #  #   #                #   #  #   #                #   #  ## ##  #   #  #   #        
  ###    ###     #            ###    ###     #           #   #  #   #   ###    ###     # 
*/

/*------各區域尺寸語法開始------*/
.content { justify-content: center; align-items:center; text-align: center; }
.content div { background-image: url(/images/logo.png); background-repeat: no-repeat; background-position: center; margin: 20px 20px; flex: none; }
.content h1,h3,p { padding: 10px; font-family: 微軟正黑體; }
.content h1 { font-size: 20pt; }
.content h3 { font-size: 12pt; color: #fff; background-color: #000; border-radius: 20px; }
.content p { text-indent: 20px; text-align: left; padding: 15px;}
/*------各區域尺寸語法結束------*/

